@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@import "tailwindcss";

:root {
  --color-bg: 255 255 255;
  --color-text: 15 23 42;
}

.dark {
  --color-bg: 15 23 42;
  --color-text: 255 255 255;
}